.web{
    background-color: aqua;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    border: 5px solid rgb(189, 51, 51);
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgb(247, 4, 4);
    margin-top: 20px;
    padding: 5px;
}